<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <style>
        .textcols {
            white-space: nowrap;
        }
        .textcols-item {
            white-space: normal;
            display: inline-block;
            width: 48%;
            vertical-align: top;
            background: #fff2e1;
        }
        .textcols .textcols-item:first-child {
            margin-right: 4%;
        }
    </style>
    <title>Hello, world!</title>
</head>
<body>
<h1>Карта</h1>

<div class="textcols">
    <div class="textcols-item">
    <p>Осмотр гинеколога</p>
    <p>Менструация с ______ лет, регулярные / нерегулярные</p>
    <p>П/М ______________________________________________________________</p>
    <p>Б- _____, Р- _____, А- ______, В- ______</p>
    <p>Оперативные вмешательства __________________________________________</p>
    <p>НПО _______________________________________________________________</p>
    <p>Шейка матки ________________________________________________________</p>
    <p>Тело матки _________________________________________________________</p>
    <p>Придатки ___________________________________________________________</p>
    <p>Молочные железы ___________________________________________________</p>
    <p>Заключение _________________________________________________________</p>
    <p>____________________________________________________________________</p>
<p>Осмотр стоматолога</p>
<p>_______________________________________________________________</p>
<p>Осмотр психиатра/нарколога</p>
<p>_______________________________________________________________</p>
<p>_______________________________________________________________</p>
<p>_______________________________________________________________</p>
<p>ЗАКЛЮЧЕНИЕ</p>
<p>Диагноз: ______________________________________________________</p>
<p>______________________________________________________________</p>
<p>______________________________________________________________</p>
<p>Абсолютный ССР: низкий, умеренный, высокий, очень высокий</p>
<p>Группа здоровья: 1 2 3а 3б</p>
<p>Противопоказания к работе: не выявлены выявлены</p>
<p>______________________________________________________________</p>
<p>РЕКОМЕНДАЦИИ: ___________________________________________</p>
<p>______________________________________________________________</p>
<p>Председатель ВК _______________________________________________</p>

<p>Осмотр терапевта</p>
<p>Анамнез ________________________________________________________</p>
<p>_______________________________________________________________</p>
<p>Кожные покровы ________________________________________________</p>
<p>Легкие: дыхание _________________________________________________</p>
<p>Сердце: АД ______________________ PS ____________________________</p>
<p>Тоны __________________________________________________________</p>
<p>Живот _________________________________________________________</p>
<p>Печень ________________________________________________________</p>
<p>Физиологические отправления _____________________________________</p>
<p>Заключение: ____________________________________________________</p>
<p>_______________________________________________________________</p>
<p>Осмотр невропатолога</p>
<p>Анамнез _______________________________________________________</p>
<p>_______________________________________________________________</p>
<p>Менингеальные явления __________________________________________</p>
<p>Ч/м нервы ______________________________________________________</p>
<p>Сухожильные рефлексы __________________________________________</p>
<p>Чувствительность _______________________________________________</p>
<p>Координация ___________________________________________________</p>
<p>Расстройства движений ___________________________________________</p>
<p>Вегетативная н. с. _______________________________________________</p>
<p>Периферическая н. с. ____________________________________________</p>
<p>_______________________________________________________________</p>
<p>Заключение: ____________________________________________________</p>
<p>_______________________________________________________________</p>
<p>_______________________________________________________________</p>
<p>Осмотр офтальмолога</p>
<p>Анамнез _______________________________________________________</p>
<p>Визометрия: OD ____OS ______с коррекцией: OD ______OS ____________</p>
<p>Офтальмоскопия ________________________________________________</p>
<p>Биомикроскопия глаза ___________________________________________</p>
<p>Рефрактометрия ________________________________________________</p>
<p>Цветоощущение ________________________________________________</p>
<p>Периметрия ____________________________________________________</p>
<p>Заключение: ____________________________________________________</p>
<p>________________________________________________________________</p>

    </div>
    <div class="textcols-item">
    <p>Дата выдачи результата Номер телефона</p>
    <p>_______________</p>
    <p>ФЛГ №</p>
    <p>дата: ЭКГ</p>
    <p>ООО «ПУЛЬСАР»</p>
    <p>КАРТА</p>
    <p>предварительного \ периодического медицинского осмотра</p>
    <p>Фамилия ______________________________________________________</p>
    <p>Имя __________________________________________________________</p>
    <p>Отчество ______________________________________________________</p>
    <p>Дата рождения _________________________________________________</p>
    <p>Место работы__________________________________________________</p>
    <p>Структурное подразделение _____________________________________</p>
    <p>Должность ____________________________________________________</p>
    <p>Вредные производственные факторы: _____________________________</p>
    <p>______________________________________________________________</p>
    <p>______________________________________________________________</p>
    <p>______________________________________________________________</p>

<p>Осмотр отоларинголога</p>
<p>Анамнез ____________________________________________________________</p>
<p>___________________________________________________________________</p>
<p>Отоскопия _________________________ш. речь: прав. _________ лев. _______</p>
<p>Риноскопия _____________________________________________________</p>
<p>Ларингоскопия __________________________________________________</p>
<p>Фарингоскопия __________________________________________________</p>
<p>Вестибулярный аппарат __________________________________________</p>
<p>Заключение _____________________________________________________</p>
<p>________________________________________________________________</p>
<p>_________________________________________________________________</p>
<p>Осмотр хирурга</p>
<p>Анамнез _______________________________________________________</p>
<p>_______________________________________________________________</p>
<p>Кожные покровы ________________________________________________</p>
<p>Лимфоузлы ______________________________________________________</p>
<p>Щитовидная железа ______________________________________________</p>
<p>Опорно-двиг. аппарат _____________________________________________</p>
<p>Периферич. сосуды ______________________________________________</p>
<p>Живот _________________________________________________________</p>
<p>Заключение _____________________________________________________</p>
<p>________________________________________________________________</p>
<p>_________________________________________________________________</p>
<p>Осмотр дерматовенеролога</p>
<p>Анамнез _______________________________________________________</p>
<p>Видимые слизистые (розовые, гиперемированы, чистые, изменены)</p>
<p>Волосистая часть головы: кожа (сухая, чистая, нормальная, измененная)</p>
<p>________________________________________________________________</p>
<p>Лимфатические узлы _____________________________________________</p>
<p>Кожные покровы: цвет _________________, эластичные, чистые, изменены</p>
<p>Лицо___________________________________________________________</p>
<p>Туловище ______________________________________________________</p>
<p>Верхние конечности _____________________________________________</p>
<p>Нижние конечности ______________________________________________</p>
<p>Ногти _________________________________________________________</p>
<p>Заключение _____________________________________________________</p>
<p>________________________________________________________________</p>

    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->


<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>