<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <style>
        .textcols {
            white-space: nowrap;
        }
        .textcols-item {
            white-space: normal;
            display: inline-block;
            width: 48%;
            vertical-align: top;
            background: #fff2e1;
        }
        .textcols .textcols-item:first-child {
            margin-right: 4%;
        }
    </style>
    <title>Hello, world!</title>
</head>
<body>
<h1>Выписка</h1>

<div class="textcols">
    <div class="textcols-item">
        <p>10. Результаты функциональных исследований</p>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Наименование</th>
                <th>Дата</th>
                <th>Заключение</th>
            </tr>
            <tr>
                <td>ЭКГ</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ФЛГ</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Маммография</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Спирометрия</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Вибрационная чувствительность</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Пульсоксиметрия</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Аудиометрия</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>УЗИ органов малого таза</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>УЗИ органов брюшной полости</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ФГДС</td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <p>11. ЗАКЛЮЧЕНИЕ</p>
        <p>Абсолютный ССР: низкий, умеренный, высокий, очень высокий</p>
        <p>Относительный ССР: низкий, умеренный, высокий, очень высокий</p>
        <p>Группа здоровья: 1 2 3а 3б</p>
        <p>Противопоказания к работе: не выявлены выявлены</p>
        <p>______________________________________________________________</p>
        <p>РЕКОМЕНДАЦИИ: ___________________________________________</p>
        <p>______________________________________________________________</p>
        <p>______________________________________________________________</p>

        <p>7. Показатели состояния здоровья</p>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Рост</th>
                <th></th>
            </tr>
            <tr>
                <td>Вес</td>
                <td></td>
            </tr>
            <tr>
                <td>ИМТ</td>
                <td></td>
            </tr>
            <tr>
                <td>Окружность талии</td>
                <td></td>
            </tr>
            <tr>
                <td>Внутриглазное давление</td>
                <td></td>
            </tr>
        </table>

        <p>8. Заключение врачей специалистов</p>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Врач</th>
                <th>Дата осмотра</th>
                <th>Заключение</th>
                <th>Подпись</th>
            </tr>
            <tr>
                <td>Терапевт</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Психиатр</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Нарколог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Гинеколог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Офтальмолог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Отоларинголог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Невролог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Дерматолог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Хирург</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Стоматолог</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="textcols-item">
        <p>Министерство здравоохранения и социального развития</p>
        <p>Российской Федерации</p>
        <p>ООО «ПУЛЬСАР»</p>
        <p>633208, г. Искитим, ул. Комсомольская, 44</p>
        <p>ВЫПИСКА ИЗ АМБУЛАТОРНОЙ КАРТЫ</p>
        <p>«__»____________ 20__г.</p>
        <p>(дата оформления)</p>

        <p>1. Фамилия Имя Отчество _______________________________________</p>
        <p>2. Пол: М Ж 3. Дата рождения _______________________</p>
        <p>4. Адрес регистрации по месту жительства _________________________</p>
        <p>______________________________________________________________</p>
        <p>5. Наименование работодателя ___________________________________</p>
        <p>6. Профессия __________________________________________________</p>
        <p>9. Результаты лабораторных исследований</p>

        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>Наименование показателя</th>
                <th>Дата</th>
                <th>Значение</th>
                <th>Норма</th>
            </tr>
            <tr>
                <td>Клинический анализ крови</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-гемоглобин</td>
                <td></td>
                <td></td>
                <td>120-160</td>
            </tr>
            <tr>
                <td>-лейкоциты</td>
                <td></td>
                <td></td>
                <td>4.0-9.0</td>
            </tr>
            <tr>
                <td>-тромбоциты</td>
                <td></td>
                <td></td>
                <td>150-450</td>
            </tr>
            <tr>
                <td>-СОЭ</td>
                <td></td>
                <td></td>
                <td>15</td>
            </tr>
            <tr>
                <td>-эритроциты</td>
                <td></td>
                <td></td>
                <td>3.5-5.5</td>
            </tr>
            <tr>
                <td>-ретикулоциты</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Биохимический анализ крови</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-сахар крови</td>
                <td></td>
                <td></td>
                <td>3.9-6.0</td>
            </tr>
            <tr>
                <td>-холестерин</td>
                <td></td>
                <td></td>
                <td>< 6.2</td>
            </tr>
            <tr>
                <td>-билирубин</td>
                <td></td>
                <td></td>
                <td>< 20.5</td>
            </tr>
            <tr>
                <td>-АЛТ</td>
                <td></td>
                <td></td>
                <td><18</td>
            </tr>
            <tr>
                <td>-АСТ</td>
                <td></td>
                <td></td>
                <td><22</td>
            </tr>
            <tr>
                <td>-карбоксигемоглобин</td>
                <td></td>
                <td></td>
                <td><10</td>
            </tr>
            <tr>
                <td>-Гепатит В, С</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>-ВИЧ</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>-РНГА</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>-сифилис</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>Клинический анализ мочи</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-удельный вес</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-белок</td>
                <td></td>
                <td></td>
                <td>до 0/033</td>
            </tr>
            <tr>
                <td>-сахар</td>
                <td></td>
                <td></td>
                <td>Отриц.</td>
            </tr>
            <tr>
                <td>-лейкоциты</td>
                <td></td>
                <td></td>
                <td>0-5</td>
            </tr>
            <tr>
                <td>-эритроциты</td>
                <td></td>
                <td></td>
                <td>0-3</td>
            </tr>
            <tr>
                <td>Мазок на стафилокок</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>Мазок на дизгруппу</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>Кал на гельминты</td>
                <td></td>
                <td></td>
                <td>отриц</td>
            </tr>
            <tr>
                <td>Мазок на онкоцитологию</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Мазок на микрофлору</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-лейкоциты</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>-микрофлора</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->


<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>